/* You can add global styles to this file, and also import other style files */
/* Importa fonte */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #D9D9D9;
}

body, app-root {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}
app-root {
    display: flex;
    flex-direction: column;
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-spacing: 0.1em;
    margin: 0.5em auto;
    /* Responsivo */
    display: block;
    overflow-x: auto;
    
}

table th {
    background-color: #00478e;
    color: white;
}

table td, table th {
    padding: 0.2rem;
}

table tbody tr {
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: #c6d4e2;
}

table tbody tr:nth-child(even) {
    background-color: #e7ecf1;
}

table tbody tr:hover {
    background-color: #cccccc;
}

table tfoot td {
    border-top: 1px solid #00478e;
    text-align: center;
}

table tbody td:last-child, table tbody td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}