/* You can add global styles to this file, and also import other style files */
/* Importa fonte */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #D9D9D9;
    font-family: 'Nunito Sans', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table {
    background-color: #fff;
}