<form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="form-content">
        <h1>Login</h1>

        <div class="input-form">
            <!-- Username Input -->
            <input type="text" name="username" [(ngModel)]="profissional.username" required>

            <picture id="user-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: #004F70">
                    <path
                        d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z" />
                </svg>
            </picture>

            <label for="username" class="label-form" id="username-label">Nome de Usuário</label>

            <span class="clear-input" *ngIf="profissional.username" (click)="clearInput('username')">&#10006;</span>

        </div>

        <div class="input-form">
            <!-- Senha input -->
            <input type="password" name="senha" [(ngModel)]="profissional.password" required>

            <picture id="senha-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: #004F70">
                    <path
                        d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z">
                    </path>
                </svg>
            </picture>

            <label for="senha" class="label-form" id="senha-label">Senha</label>

            <span class="clear-input" *ngIf="profissional.password" (click)="clearInput('senha')">&#10006;</span>

        </div>

        <input type="submit" value="Login">
    </div>

</form>