<header *ngIf="isAutenticado()">
    <div class="main-header">
        <a href="" id="logo-sgtp">
            <img src="../assets/img/logo-sgtp.png" alt="Logo do Site">
        </a>

        <div id="user-config">
            <button (click)="modalClick()">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                    <path
                        d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z" />
                    <path
                        d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z" />
                </svg>
            </button>

            <!-- Modal com as informações do usuário -->
            <div class="user-info-modal" #userModal>
                <ul>
                    <li>
                        <span class="user-info-title">Usuário: </span>
                        <span>{{getProfissional().nome}}</span>
                    </li>
                    <li>
                        <span class="user-info-title">Cargo do usuário: </span>
                        <span>{{getProfissional().cargo.nome}}</span>
                    </li>
                    <li>
                        <span class="logout" (click)="logout()">Logout</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav id="nav-principal">
        <ul>
            <li><a routerLink="/tarefa">Tarefas</a></li>
            <li><a routerLink="/profissional">Profissionais</a></li>
            <li><a routerLink="/cargo">Cargos</a></li>
            <li id="solicitacao-li"><a routerLink="/solicitacao">Solicitações</a>
                <div class="notificacao-icon"></div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer *ngIf="isAutenticado()">
    <span>SGTP - Sistema de Gerenciamento de Tarefas Profissionais</span>
    <span>Suporte Técnico: (00) 00000-0000</span>
    <span class="copyright">© Todos os direitos reservados</span>
</footer>